<h2>Input Tag:</h2>
<input #txtTag>
<button (click)="searchTag(txtTag)">Search Tag</button>
<p>API URL:</p>
<p>{{url}}</p>
<input #txtField>
<button (click)="sortBy(txtField)">Sort Field</button>
<br><br>
<input #txtDirection>
<button (click)="directionSort(txtDirection)">Sort</button>
<h2><font color="red">{{errorMsg}}</font></h2>
<br>
<table>
    <thead>
        <tr>
            <th>Author</th>
            <th>ID</th>
            <th>Likes</th>
            <th>Popularity</th>
            <th>Reads</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <td>{{ post.author }}</td>
            <td>{{ post.id }}</td>
            <td>{{ post.likes }}</td>
            <td>{{ post.popularity }}</td>
            <td>{{ post.reads }}</td>
            <td>{{ post.tags }}</td>
        </tr>
    </tbody>
</table>
